*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select:none;
    user-select: none;
}
body{
    background-color: #212121;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1{
    color: white;
}

header{
    padding: 5px;
    position: sticky;
    z-index:1000;
    top: 0;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.603);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
}

.home{
    color: white;
    margin-left: auto;
    font-size: 26px;
    transition: all 0.2s ease-in-out;
}
.home:hover{
    transform: scale(1.2);
}


#poem{
    padding: 10px;
    border-radius: 5px;
    background-color: #00000050;
    white-space: pre-line;
    color: #f3f3f3;
    font-size: 22px;
    margin: 10px 15px;
    line-height: 1.6;
}

.next-day{
    padding: 15px;
    display: flex;
    justify-content: end;
}
.next-day > button{
    cursor: pointer;
    padding: 10px 10px;
    background: none;
    border-radius: 5px;
    border: 3px solid #1365a8;
    color: #1673c0;
    box-shadow: 0 2px 12px #2195f34b;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}
.next-day > button > i::before{
    margin: 0;
    margin-left: 5px;
}
.next-day > button:hover {
    scale: 1.02;
    border: 3px solid #2196f3;
    color: #239cff;
    box-shadow: 0 2px 12px #2195f37c;
}
.next-day > button:active {
    transform: scale(0.9);
}


@media (min-width: 1600px) {
    #poem{
        font-size: 28px;
    }
}
@media (max-width: 768px) {
    header{
        backdrop-filter:none;
        background-color: rgba(20, 20, 20, 0.8);
    }
}
@media screen and (max-width: 450px) {
    h1{
        font-size: 24px;
    }
    #poem{
        font-size: 19px;
    }
}
@media screen and (max-width: 380px) {
    #poem{
        font-size: 17px;
    }
    h1{
        font-size: 20px;
    }
}